# Vercel Project Settings > Environment Variables
TRIGGER_SECRET=replace-with-a-long-random-secret
INGEST_TOKEN=replace-with-a-long-random-secret
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbw1L5eOZORf414Al_Epn-MaDjRNR9MTY5NOmttazxGDwKA7PO0PNGq4oRSIdDjBJvgDlw/exec
