# Vercel Project Settings > Environment Variables
TRIGGER_SECRET=replace-with-a-long-random-secret
INGEST_TOKEN=replace-with-a-long-random-secret
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzEIqDKzd0ySDJHISDSU9tglwPcwApd5m16aLLoB18guHegFY4VyM7oboxlXyRMXbkpPw/exec
